.background{
    background-color: #000000;
    height: 690px;
  }
  
  .sejong{
    height: 400px;
    width: auto;
    position: absolute; left: 900px; top: 150px;
  }
  
  .main-logo{
    height: 400px;
    width: auto;
    position: absolute; left: 400px; top: 100px;
  }
  
  .bottom{
    width: 100%;
    height: 20%;
    position: absolute; bottom: 0px;
  }
  
  .light1{
    height: 30px;
    width: auto;
    position: absolute; left: 1100px; top: 200px;
  }
  
  .light2{
    height: 30px;
    width: auto;
    position: absolute; left: 800px; top: 400px;
  }
  
  .light3{
    height: 30px;
    width: auto;
    position: absolute; left: 900px; top: 90px;
  }
  
  .light4{
    height: 30px;
    width: auto;
    position: absolute; left: 250px; top: 270px;
  }
  
  .light5{
    height: 30px;
    width: auto;
    position: absolute; left: 350px; top: 70px;
  }
  
  #start{
    background-color: #000000;
    border: 0px;
    position: absolute; left: 600px; bottom: 65px;
    height: 56px;
    width: 200px;
  }
  
  .button-text{
    height: 45px;
    width: 150px;
    position: absolute; top: 10px;
    color: #F5F4A7;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 30px;
  }
  
  .arrow{
    height: 15px;
    width: auto;
    position: absolute; top:19px; right: 20px;
  }

  .login-field{
    background-color: #000000;
    display: none;
    border: 0px;
    position: absolute; left: 600px; bottom: 65px;
    height: 56px;
    width: 200px;
  }

  .login{
    border: 0px;
    height: 40px;
    width: 180px;
    background-color: #000000;
    color: #F5F4A7;
    font-size: 28px;
    font-weight: bold;
  }

  #play{
    background-color: #000000;
    border: 0px;
    position: absolute; left: 600px; bottom: 65px;
    height: 56px;
    width: 200px;
  }
  
  .button-text2{
    height: 45px;
    width: 150px;
    position: absolute; top: 10px;
    color: #F5F4A7;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 28px;
  }

  .button-text3{
    height: 45px;
    width: 150px;
    position: absolute; top: 12px; left: 5px;
    color: #F5F4A7;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: bold;
    font-size: 26px;
  }

  .enter-room{
    background-color: #000000;
    display: none;
    border: 0px;
    position: absolute; left: 300px; bottom: 65px;
    height: 56px;
    width: 340px;
  }

  .new-room{
    background-color: #000000;
    display: none;
    border: 0px;
    position: absolute; left: 750px; bottom: 65px;
    height: 56px;
    width: 350px;
  }

  .enter{
    border: 0px;
    height: 40px;
    width: 150px;
    position: absolute; right: 55px; top: 7.8px;
    background-color: #000000;
    color: #F5F4A7;
    font-size: 26px;
    font-weight: bold;
  }

  .new{
    border: 0px;
    height: 40px;
    width: 150px;
    position: absolute; right: 50px; top: 7.8px;
    background-color: #000000;
    color: #F5F4A7;
    font-size: 26px;
    font-weight: bold;
  }