.background{
    background-color: #000000;
    height: 690px;
}

.logo{
    height: 100px;
    width: auto;
    position: absolute; left: 50%; transform: translateX(-50%);
}

.rank-box{
    height: 550px;
    width: 90%;
    position: absolute; left: 50%; transform: translateX(-50%); top: 120px;
}